<div class="localWeatherModal">
    <div class="modal-header">
        <h3 class="weatherMTitle">Local Trail Weather</h3>
    </div>
    <div class="modal-body">
        <ul class="weatherModalList">
            <li ng-repeat="wet in controller.sky">
                {{wet.day}} | {{wet.weather.weather[0].description}} | <img src="{{controller.weatherIcon}}{{wet.weather.weather[0].icon}}.png" alt="Icon" />
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="controller.OK()">OK</button>
    </div>
</div>