<div class="col-md-12 About1Background">

    <div class="AboutSA">
        <h1>About Page</h1>
        <hr />
       <br />
           <h3>
               TrekClub is a school project intented to display the developers' skills in the group. We take credit for the layout and functionality, but do not take credit for the information provided. We have gathered this information from various websites, namely the Washington Trails Association website, and are using it for demo purposes only. Additionally, some information on our website may be incorrect or incomplete, and should not be used as a guide for planning purposes or advice. If there are any concerns, please email us using the provided contact information. 
               <br />
               -Sincerely the TrekClub team. 
           </h3>
        
        <br />
        <h4>Contact Information</h4>
        <hr />
        <br />
        <h5>Please report bugs and other concerns to blank@email.com
        </h5>
       
    </div>
</div>