<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    
    <h3>Title</h3>
    <input type="text" class="form-control" placeholder="Title"> <br />


    <hr />
    <h3>Map Area</h3>
    <h6>Map</h6>
    <input type="text" class="form-control" placeholder="Map"> <br />


    <br />
    <h6>Map Save</h6>
    <input type="text" class="form-control" placeholder="Map Save"> <br />

    <hr />
    <h3>Trail Info</h3>
    <h6>Time</h6>
    <input type="text" class="form-control" placeholder="Time"> <br />

    <br />
    <h6>Distance</h6>
    <input type="number" class="form-control" placeholder="Distance"> <br />

    <br />
    <h6>Elevation</h6>
    <input type="number" class="form-control" placeholder="Elevation"> <br />

    <br />
    <hr />
    <h3>OverView of Trail</h3>
    <input type="text" class="form-control" placeholder="OverView"> <br />

    <hr />
    <h3>Weather</h3>
    <input type="text" class="form-control" placeholder="Weather"> <br />

    <hr />
    <h3>Rating</h3>
    <input type="number" class="form-control" placeholder="Rating"> <br />

    <hr />
    <h3>Status (Open/Closed)</h3>
    <input type="text" class="form-control" placeholder="Status"> <br />
    <hr />
    <h3>Legend</h3>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <h6>Fishing</h6>
                <input type="text" class="form-control" placeholder="True or False">


                <br />
                <h6>Biking</h6>
                <input type="text" class="form-control" placeholder="True or False">


                <br />
                <h6>Horseback Riding</h6>
                <input type="text" class="form-control" placeholder="True or False">


                <br />
                <h6>Camping</h6>
                <input type="text" class="form-control" placeholder="True or False">
            </div>




            <div class="col-md-4">

                <h6>Pass Required</h6>
                <input type="text" class="form-control" placeholder="True or False">

                <br />
                <h6>Lakes</h6>
                <input type="text" class="form-control" placeholder="True or False">

                <br />
                <h6>Rivers</h6>
                <input type="text" class="form-control" placeholder="True or False">

                <br />
                <h6>Waterfalls</h6>
                <input type="text" class="form-control" placeholder="True or False">

                <br />



            </div>

            <div class="col-md-4">
                <h6>Scenic Views</h6>
                <input type="text" class="form-control" placeholder="True or False">

                <br />
                <h6>Bears</h6>
                <input type="text" class="form-control" placeholder="True or False">

                <br />
                <h6>Cougars</h6>
                <input type="text" class="form-control" placeholder="True or False">

                <br />
                <h6>Landslides</h6>
                <input type="text" class="form-control" placeholder="True or False">

                <br />
            </div>
        </div>
    </div>
    <hr />

    <button type="button" class="btn btn-info">Save</button>
    <button type="button" class="btn btn-danger">Delete</button>
    <br />
    <hr />



</body>
</html>