<div class="container-fluid">
    <div class="col-md-12 home1SA">
        <div class="col-md-12 whiteCover">
            <div class="TitleHome">
                <h1>TrekClub</h1>
            </div>
            <div id="main-circle">
                <div class="content">
                    
                </div>
            </div>

            <div id="sid-trails" class="section" data-link="http://google.com">
                <div class="section-header">
                    <p> Trails </p>
                </div>
            </div>

            <div id="sid-treks" class="section" data-link="http://youtube.com">
                <div class="section-header">
                    <p> Treks </p>
                </div>
            </div>


            <div id="sid-blogs" class="section" data-link="http://news.ycombinator.com">
                <div class="section-header">
                    <p> Blogs </p>
                </div>
            </div>

            <div id="sid-gears" class="section" data-link="http://facebook.github.io/react/">
                <div class="section-header">
                    <p> Gears </p>
                </div>
            </div>

        </div>
    </div>
</div>
  
