<div id="home-searchpic">
    <div id="home-searchTool">
        <form>
            <input id="box" type="search" placeholder="Find hikes near you">
        </form>
    </div>
</div>


<div id="buttons">
    <a href="www.REI.com">
        <div class="Links" id="home-buttonpic1">
            <span class="contain" id="home-button1"><strong>Find gear</strong></span>
        </div>
    </a>
    <a href="www.google.com">
        <div class="Links" id="home-buttonpic2">
            <span class="contain" id="home-button2"><strong>Events</strong></span>
        </div>
    </a>
    <a href="www.google.com">
        <div class="Links" id="home-buttonpic3">
            <span class="contain" id="home-button3"><strong>Popular Hikes</strong></span>
        </div>
    </a>
    <a href="www.google.com">
        <div class="Links" id="home-buttonpic4">
            <span class="contain" id="home-button4"><strong>Forums</strong></span>
        </div>
    </a>
</div>