<div id="home-searchpic">

    <div id="home-searchTool">
        <form>

            <input type="search" placeholder="Find hikes near you">
        </form>
    </div>
</div>


<div id="buttons">
    <a href="www.REI.com">
        <div class="Links" id="buttonpic1">
            <span class="contain" id="button1"><strong>Find gear</strong></span>
        </div>
    </a>
    <a href="www.google.com">
        <div class="Links" id="buttonpic2">
            <span class="contain" id="button2"><strong>Events</strong></span>
        </div>

        <a href="www.google.com">
            <div class="Links" id="buttonpic3">
                <span class="contain" id="button3"><strong>Popular Hikes</strong></span>
            </div>

            <a href="www.google.com">
                <div class="Links" id="buttonpic4">
                    <span class="contain" id="button4"><strong>Forums</strong></span>
                </div>
            </a>




</div>
<div id="footer">

    <img src="../../images/social pics/facebook.png" style="height:45px;border-radius:25px" />
    <img src="../../images/social pics/instagram.png" style="height:45px;border-radius:25px" />
    <img src="../../images/social pics/tumblr.png" style="height:45px;border-radius:25px" />
</div>
