

<div class="col-lg-12 detailsPage">



<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" >
            <div class="row">
                <div class="col-md-4 col-sm-4 detailsLeftColumn">
                     
                        <!-- Legend -->
                            <div>
                               <h2>Legend</h2>
                            </div>
                       
                        <!-- Social Media -->
                            <div>
                                <h2>Social Media</h2>
                            </div>

                       <!-- Weather Link -->
                            <div>
                                <h2>Local Weather</h2>
                            </div>

                      <!-- Meet Up Info -->
                            <div>
                               <h2>Upcomming Events</h2>         
                           </div>

                    <!-- Rating -->
                           <div>
                              <h2>Trail Rating</h2>
                           </div>

                    <!-- Open Seasons -->
                           <div>
                               <h2>Dates of Operation</h2>
                           </div>
                       
                    </div>




                <div class="col-md-8 detailsRightColumn">
                    
                    <!-- Trail Title -->
                    <div>
                        <h2>{{controller.trail.name}}</h2>
                    </div>

                    <!-- Map -->
                    <div>
                      <img src="{{controller.trail.map}}" width="200"/>
                    </div>

                    <!-- Details -->
                    <div>
                        <h4>{{controller.trail.distance}}:miles {{controller.trail.time}}:hours {{controller.trail.elevation}}</h4>
                        <h5>{{controller.trail.location}}</h5>
                    </div>

                    <!-- Overview -->
                    <div>
                        <h2></h2>
                    </div>

                    <!-- User Comments -->
                    <div>
                        <h2></h2>
                    </div>

                   
                </div>

            </div>
        </div>
    </div>
</div>
    </div>
