.login-title-text {
    margin-top: -20px;
}

.login-form-container {
    width: 342px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #ccc;
    height: 400px;
}

.icon{
    color: white;
}

.text{
    color: white;
}

.signin-buttons {
}

#login-form {
    text-align: center;
    margin-top: 10px;
}

#loginEmail {
    border: 1px solid #ccc;
    color: #2a2a28;
    width: 279px;
    line-height: 1.3;
    font-size: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: auto !important;
    height: 36px;
    margin-left: 125px;
    box-shadow: 7px 7px 7px #404040;
}

#loginPassword {
    border: 1px solid #ccc;
    color: #2a2a28;
    width: 279px;
    line-height: 1.3;
    font-size: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: auto !important;
    height: 36px;
    margin-left: 125px;
    box-shadow: 7px 7px 7px #404040;
}

.login-button{
    float: right;
    text-align: center;
    background: #0077cc;
    color: #fff;
    border-radius: 3px;
    width: 120px;
    padding: 12px 40px;
    box-shadow: none;
    text-shadow: none;
    text-decoration: none;
    border: none;
    cursor: pointer;
    margin-bottom: 0 !important;
    margin-right: 25px;
    box-shadow: 7px 7px 7px #404040;
}

.login-button:hover{
    color:white;
    background: #0077bb;
}

.modal-content{
    width: 100%;
}

.login-page {
    font-family: 'Merriweather', serif;
    padding: 30px;
    border: 10px solid rgba(140, 140, 140,0.40);
    height: 500px;
    text-align: center;
    background-color: rgb(191, 191, 191);
    box-shadow: 10px 10px 10px #404040;
    border-radius: 5px;
    text-shadow: 2px 2px #333333;
    color: white;
}

.modalRow{
    height: 500px;
}

.mHeader{
  margin-top: -30px;
}

.mTitle{
  font-size: 35pt;
  font-weight: bold;
}

#loginCompass{
    margin-left: -40%;
    margin-top:-15px;
    transform: rotate(-16deg);
    -webkit-transform: rotate(-16 deg);
}