<h1>Blogs Home Page</h1>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Views</th>
                <th>Comments</th>
                <th>Title</th>
                <th>Date</th>
            </tr>
            <tr ng-repeat="blog in controller.blogs">
                <td>{{blog.id}}</td>
                <td>{{blog.views}}</td>
                <td>{{blog.commentCount}}</td>
                <td><a href="/blogs/{{blog.id}}">{{blog.title}}</a></td>
                <td>{{blog.creationDate | date:'MMMM dd @ h:mma'}}</td>
            </tr>
        </table>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3 col-md-offset-1 test">
                hello
            </div>
            <div class="col-md-6 test">
                again
            </div>
            <div class="col-md-1 test">
                now
            </div>
        </div>
    </div>
</div>
