
<h1>PROFILE DETAILS</h1> - <a href="/editprofile">EDIT</a>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="form-group">
            <label>
                name:
            </label>
            <label>
                {{controller.viewProfile.firstName}} {{controller.viewProfile.lastName}}
            </label>

        </div>
        <div class="form-group">
            <label>age:</label>
            <label>{{controller.viewProfile.age}}</label>

        </div>
        <div class="form-group">
            <label>about me:</label>
            <label>{{controller.viewProfile.bio}}</label>

        </div>
    </div>

   
</div>


 <!--Layout from Wireframe-->
<div class="container" id="bodycontainer">
    <div id="profilePic">
        <img src="https://cdn-co.milespartnership.com/sites/default/master/files/styles/media-player-large/public/Hiking1_Vail_MI.jpg?itok=a9Q3YMuy" />
    </div>

    <div class="container" id="asides">
        <aside class="aside">Save Trail</aside>
        <aside class="aside">Trail Patches</aside>
    </div>
</div> 
<!-- End of Container-->

<div style="display: inline-block; background-color: red; width: 300px; height: 200px; margin-left: 50px;"></div>
<div style="display: inline-block; background-color: green; width: 300px; height: 200px;"></div>
