<!--<h1>PROFILE DETAILS</h1>-->
<!--<div class="container-fluid">-->
<div class="profileWindow">
    <div class="row">
        <!--<div class="col-sm-1"></div>-->
        <div id="bodydiv">
            <div class="col-sm-10">
                <div class="row">

                    <div class="col-sm-8">
                        <div id="profilePic">
                            <img src="{{controller.viewProfile.profilePic}}" class="image profImage" />
                        </div>
                        <div id="name">{{controller.viewProfile.displayName}}</div>
                    </div>
                    <div class="col-sm-4">

                        <div id="asides">
                            <button class="toEditbtn"><a href="/editprofile/{{controller.viewProfile.id}}" style="color: white">Edit Your Profile Here</a></button>
                            <aside class="aside" id="aside1" style="border:10px solid rgba(0,0,0,.3);">
                                <h3>My Saved Trails:</h3>
                                <div id="myTrails">
                                    {{controller.myTrails.trailimage}}{{controller.myTrails.name}}
                                    <table class="bkpkTable">
                                        <tr>
                                            <td>Lake Phillipa</td>
                                            <td>John Wayne Trail</td>
                                        </tr>
                                        <tr>
                                            <td>Big Four Ice Caves</td>
                                            <td>Hoodoo Canyon</td>
                                        </tr>
                                    </table>


                                </div>
                                <a href="/mytrails/{{controller.viewProfile.displayName}}">check out your backpack</a>
                            </aside>
                            <aside class="aside" id="aside2">
                                <h3>Trail Patches:</h3>
                            </aside>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-8">
                                <div id="bio">
                                    <h3><strong>About Me:</strong></h3>
                                    <p>{{controller.viewProfile.bio}}</p>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div id="circle">
                                    <h3>Expertise Level:</h3>
                                    <h4>{{controller.viewProfile.expertise}}</h4>
                                    <h3>Age:</h3>
                                    <h4>{{controller.viewProfile.age}}</h4>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


            </div>

        </div> <!--End BodyDiv-->
    </div>
</div>
<!--</div>-->