.About1Background {
    background-color:#202020;

}
/*.circleAbout{
     background-color: cornflowerblue;
    border: 9px solid rgba(0,0,0,.2);
  
    position: absolute;
   right: 70%;
    bottom:300px;
    margin-left:300px;
    margin-top: 150px;
    display: inline-block;
    height: 300px;
    width: 300px;
    box-shadow: 7px 7px 7px #404040;
    border-radius: 100%;
    color: rgba(0, 0, 0, 0.80);
    text-align: center;
    /*text-shadow: 2px 2px #333333;*/
    /*padding: 60px;
  
}*/


#header {
    background-image: url('../images/aboutpagepics/screenshot (51).png');
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    opacity: .99;
    color: white;
    text-align: center;
    padding: 5px;
}

#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px; 
}
#section {
    width: 350px;
    float: left;
    padding: 10px;
}
#footer {
    background-color:white;
    color:black;
    clear:both;
    text-align:center;
    padding:5px; 
}

#about-who{
    color:#F0F0F0; 	
    font-size:50px;
    font-family: 'Lobster', cursive;
}

#about-p{
    color:#E8E8E8; 
}

#aside {
    /*background-image: url('../images/aboutpagepics/screenshot (52).png');
    background-size:cover;
    background-position:inherit;
    background-repeat:no-repeat;*/
    }