
.gatherPage {
    background-image: url('../images/nw27.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 1500px;
    font-family: 'Merriweather', serif;
    color: slategrey;
}

.gatherDetailPage {
    background-image: url(http://flygtf.com/images/Glacier.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 1500px;
    font-family: 'Merriweather', serif;
    color: slategrey;
}

.trekSideBar {
     float: left;
    width: 18%;
    margin-top: 4%;
    /*margin-left: 60px;*/
    background-color: rgba(255, 255, 255, 0.33);
    padding-left: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
    position: fixed;
}

.inputTr {
    border-radius: 0;
}


.trekTrlName {
    color: black;
    margin-top: 3%;
}

.gatherTime{
    margin-top: 3%;
}

.trekSearch {
    float: right;
    background-color: rgba(255, 255, 255, 0.33);
    margin-top: 6.4%;
    margin-bottom: 25px;
    width: 65%;
    padding: 25px;
}

.trekSearch2 {
    background-color: rgba(255, 255, 255, 0.66);
    width:100%;
    padding: 30px;
    margin-top: auto;
    margin-bottom: auto;
}

#searchTitleTrek {
    text-align: center;
    font-size: 40px;
    color: firebrick;
}

.trekStitles {
    font-size: 18px;
    text-align: center;
    color: slategrey;
    margin-top: 10px;
}

.inputMMtrek {
    border-radius: 0;

}

.searchLabelsTrek {
    padding-top: 7px;
    padding-left: 30px;
}

.searchBtnTrek {
    width: 100%;
    height: 50px;
    font-size: inherit;
    margin-top: 20px;
    background-color: aliceblue;
    border-radius:0;
    border-style: outset;
    border-width:initial;
    border-color: aliceblue;
    font-size: x-large;
}

.treks{
    background-color: rgba(255, 255, 255, 0.33);
    margin-top: 6.3%;
    padding: 25px;
    float: right;
    width: 65%;
}

.trekLeft{
    width: 100%;
    display: inline-block;
    padding: inherit;
    padding: 25px;
}

.trekTitle {
    color: firebrick;
    font-weight: bold;
}

.trekTime {
    color: black;
    max-width: 100%;
    font-weight: 700;
    float: left;
    margin-top: 35px;
    margin-left: -225px;
}

.trekImg {
    width: 350px;
    height: 170px;
    display: inherit;
}

.trekDescription {
    color: #004D8D;
    font-size: small;
    font-weight: 600;
    overflow: hidden;
    display: inline-block;
    float: right;
    width: 73%;
    height: 90px;
    padding: 5px;
}

.trekDetail {
    background-color:  rgba(255, 255, 255, 0.66);
    color:  #004D8D;

}

.trekSC {
    color: #004D8D;
}

.trekSR {
    color: firebrick;
}
