.home1SA {
    background-image: url('../images/neve_glacier_north_cascades_usgs (1).jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 70px;
    margin-bottom: 70px;
}
.whiteCover{
   background-color: rgba(255, 255, 255, 0.60);
   color: rgba(0, 0, 0, 1.00);
   padding-right: 10em;
   padding-left: 10em;
   padding-bottom: 100em;
   padding-top:10em;
   color:black;
}
.TitleHome{
    text-align:center;
}
@media (max-width: 600px) {
    .section {
	width: 60px;
	height: 60px;
    }
}

@media (min-width: 600px) {
    .section {
	width: 350px;
	height: 350px;
    }
}

.section {
    position: absolute;
    overflow:hidden;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    -khtml-border-radius: 50%;
    background: #eee;
    z-index: 5;
}

.section a {
    display: block;
    width: 100%;
    height: 100%;
}

.section .section-header p {
    text-align: center;
}

@media (min-width: 600px) {
    .section .section-header {
	height: 20%;
    }
}

@media (max-width: 600px) {
    .section .section-header {
	height: 33%;
    }
}

#sid-trails .section-header {
    background-color: orange;
}

#sid-trails {
    top: 3%;
    right: 18%;
    animation-name:example2;
    animation-duration:40s;
    background-image: url('../images/2362739742_d866b02c67_bmountain.jpg');
}
@keyframes example2{
      0%   {background-color: red; right:0px; top:100px;}
    25%  {background-color: yellow; right:200px; top:100px;}
    50%  {background-color: blue; right:200px; top:400px;}
    75%  {background-color: green; right:0px; top:400px;}
    100% {background-color: red; right:0px; top:100px;}
}
#sid-treks .section-header {
    background-color: green;
}

#sid-treks {
    bottom: 23%;
    left: 25%;
    animation-name:example1;
    animation-duration:40s;
    background-image: url('../images/6063863667_71fa43a77e_b hiking.jpg');
}
@keyframes example1{
      0%   {background-color: red; left:0px; bottom:200px;}
    25%  {background-color: yellow; left:200px; bottom:200px;}
    50%  {background-color: blue; left:200px; bottom:600px;}
    75%  {background-color: green; left:0px; bottom:600px;}
    100% {background-color: red; left:0px; bottom:200px;}
}
#sid-blogs .section-header {
    background-color: cyan;
}

#sid-blogs {
    top: 3%;
    left: 5%;
    animation-name:example3;
    animation-duration:40s;
    background-image: url('../images/2362739742_d866b02c67_bmountain.jpg');
}
@keyframes example3{
      0%   {background-color: red; left:0px; top:0px;}
    25%  {background-color: yellow; left:300px; top:0px;}
    50%  {background-color: blue; left:250px; top:300px;}
    75%  {background-color: green; left:0px; top:200px;}
    100% {background-color: red; left:0px; top:0px;}
}
#sid-gears .section-header {
    background: magenta;
}

#sid-gears {
    bottom: 23%;
    right: 5%;
    animation-name:example4;
    animation-duration:40s;
    background-image: url('../images/columbia_river_gorge_(3).jpg');
}

@keyframes example4{
      0%   {background-color: red; right:0px; bottom:0px;}
    25%  {background-color: yellow; right:200px; bottom:0px;}
    50%  {background-color: blue; right:300px; bottom:300px;}
    75%  {background-color: green; right:0px; bottom:300px;}
    100% {background-color: red; right:0px; bottom:0px;}
}
@media (max-width: 600px) {
    #main-circle {
	width: 100%;
    }
}

/* Computer Size Main Circle */
@media (min-width: 600px) {
    #main-circle {
	width: 45%;
    }
}

#main-circle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
#main-circle:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 100%;
}
#main-circle > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#main-circle {
    overflow: hidden;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
     animation-name: example;
    animation-duration: 40s;
    /*background-image: url('../images/2362739742_d866b02c67_bmountain.jpg');*/
    background-size:cover;
    /*background: #000;*/
}
@keyframes example{
    0% {
        background-image: url('../images/6063863667_71fa43a77e_b hiking.jpg');
    }
    25% {
        background-image: url('../images/columbia_river_gorge_(3).jpg');
    }
    50% {
        background-image: url('../images/2362739742_d866b02c67_bmountain.jpg');
    }
    100% {
        background-image: url('../images/lake_maria_state_park.jpg');
    }
}