/************** UI View **********************/

#uiView {
    background-color: #1a1919;
}

/************** Browse Page ******************/

.mobileHeaderTrailsBrowse {
    width: 100%;
    height: 100px;
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.33);
    display: none;
}

.mobileHeaderLinksTrailsBrowse {
    min-width: 150px;
    margin: 25px;
    /*margin-left: 60px;*/
}

.mobileSectionsTrailsBrowse {
    width: 24%;
    display: inline-block
}

@media only screen and (max-width: 1150px) {
    /* For mobile phones: */
    
    .browseSideBar{
        position: static;
        display: none;
    }

    .mobileHeaderTrailsBrowse {
        display:block;
    }

    .browseSearch {
        margin-left: 0 !important;
        float: left !important;
    }

    [class*="col-"] {
        width: 100%;
    }
}


.browsePage {
    background-image:url(https://upload.wikimedia.org/wikipedia/commons/b/b3/Elakala_Waterfalls_Swirling_Pool_Mossy_Rocks.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1500px;
    font-family: 'Merriweather', serif;
    color: slategrey;
    margin-bottom: 50px;
    margin-top:40px;
}

.browseSearch {
    float: right;
    background-color: rgba(255, 255, 255, 0.33);
    margin-top: 70px;
    margin-bottom: 25px;
    width: 65%;
    padding: 25px;
}

.browseSearch2 {
    background-color: rgba(255, 255, 255, 0.66);
    width:100%;
    padding: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

#searchTitle {
    text-align: center;
    font-size: 40px;
    color: firebrick;
}

.inputMM {
    border-radius: 0;
    margin-left: -25px;
    width: 82%;
    height: 30px;
}

.searchLabels {
    padding-top: 7px;
    font-size: smaller;
}

.Activities {
    float: right;
    margin-top: -180px;
    border-style: outset;
    width: 340px;
    height: 165px;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 30px;
}

.actLabel {
    margin-left: 60px;
    font-size:large;
    font-weight:400;
}

.Activities2 {
    float: left;
}

.Activities3 {
    float: right;
}

.rating{
    font-size: 29px;
    color: #2d862d;
}

.smallRating{
    font-size: 18px;
    color: #2d862d;
}

.searchBtn {
    width: 95%;
    height: 50px;
    background-color: aliceblue;
    border-radius:0;
    border-style: outset;
    border-width:initial;
    border-color: aliceblue;
    font-size: x-large;
    margin-left: 15px;
}

.trailBox {
    float: right;
    background-color: rgba(255, 255, 255, 0.33);
    margin-bottom: 25px;
    width: 64.1%;
}

.imagesBrowse {
    margin: 20px 20px 20px 10px;
    height: 200px;
}

.trailBrowse1 {
    background-color: rgba(255, 255, 255, 0.66);
    float: right;
    width: 50%;
    height: 200px;
    margin-top: -220px;
    color: firebrick;
    font-family: 'Merriweather', serif;
    font-size: small;
    font-weight: 400;
    text-align: center;
    border-radius: 0; 
    overflow: hidden;
    padding: initial;
}

.trailBrowse2 {
    background-color: rgba(255, 255, 255, 0.66);
    float: right;
    width: 20%;
    height: 200px;
    margin-top: -220px;
    margin-right: 10px;
    padding: 20px;
    color: slategrey;
    font-family: 'Merriweather', serif;
    font-size: small;
    font-weight: 400;
    text-align: center;
    border-radius: 0; 
}

.browseSideBar {
    float: left;
    width: 18%;
    margin-top: 70px;
    background-color: rgba(255, 255, 255, 0.33);
    padding-left: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
    position: fixed;
}

.sidebarTitle {
     color: firebrick;
     font-weight:700;
     text-align: center;
     text-shadow: 5px 2px 1px rgba(0, 0, 0, 0.60);
}

.browseLegend {
    background-color: rgba(255, 255, 255, 0.66);
    width:95%;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.browseLegend2 {
    background-color: rgba(255, 255, 255, 0.66);
    width:95%;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.browseSBtitles {
    font-size: 18px;
    text-align:center;
    color: slategrey;
    margin-top: 10px;
    margin-bottom: 0;
}

.browseSBtitles2 {
    font-size: 18px;
    text-align:center;
    color: slategrey;
    margin-top: 5px;
    margin-bottom: 0;
}

.browseSBbtns {
    width: 100%;
    height: 40px;
    font-size: inherit;
    margin-top: 20px;
    background-color: aliceblue;
    border-radius:0;
    border-style: outset;
    border-width:initial;
    border-color: aliceblue;
    font-size: x-large;
}

.paginationBrowse {
    margin-left: 420px;
}

/****************** Details Page *************/

.detailsPage {
    background-image:url(https://upload.wikimedia.org/wikipedia/commons/b/b3/Elakala_Waterfalls_Swirling_Pool_Mossy_Rocks.jpg);
    background-size: cover;
    /*height: 1500px;*/
    background-repeat: no-repeat;
}


.detailsLeftColumn {
   float: left;
   width: 25%;
   margin-top: 70px;
   background-color: rgba(255, 255, 255, 0.33);
   color: rgba(0, 0, 0, 0.80);
   font-family: 'Merriweather', serif;
   text-transform: ;
   font-size: small;
   font-weight: 400;
   text-align: center;
   border-radius: 0;  
}


.detailsRightColumn {
   float: right;
   width: 70%;
   margin-top: 70px;
   margin-bottom:70px;
   background-color: rgba(255, 255, 255, 0.33);
   color: rgba(0, 0, 0, 0.80);
   font-family: 'Merriweather', serif;
   text-transform: ;
   font-size: small;
   font-weight: 400;
   text-align: center;
   border-radius: 0;  

}

.legend {
    background-color: rgba(255, 255, 255, 0.66);
    width:95%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.legend1 {
    background-color: rgba(255, 255, 255, 0.66);
    width:94%;
    height: 60px;
    margin: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
  
    
}

.name {
    color: firebrick;
    font-size: 40px;
    font-weight: 200;
    padding: 10px;
}

.map {
    margin-bottom: 20px;
    margin-left: 20px;
}

.imagesDetails {
    height: 400px;
    overflow:hidden;
    background-repeat:no-repeat;
}

.trailSBtitles {
    color: firebrick;
    font-size: 25px;
}

.sidebar {
    float: right;
    background-color: rgba(255, 255, 255, 0.66);
    width:220px;
    height: 400px;
    margin-top: -420px;
    margin-right: 20px;
    padding: 15px;
    overflow: hidden;
}

.overview {
    font-size: 20px;
    font-weight: 200;
    padding: 20px;
    margin-left: 20px;
    width: 94%;
}

.weatherbtn {
width: 100%;
height: 50px;
font-size: x-large;
}

.saveToPack {
width: 100%;
height: 50px;
font-size: inherit;
font-weight: 700;
color: white;
background-color: #2d862d;
}
.ulLegend li {
    list-style-type:none;
    display:inline;
    /*left:-75px;*/

}

.ulLegend {
    padding-left:0;
}

/*********************************/


/******** Admin Page *************/

#adminHeader {
    text-align: center;
}

.adminPage {
    font-family: 'Merriweather', serif;
    color: firebrick;
    min-height: 1500px;
}
.adminTable {
    background-color: rgba(255, 255, 255, 0.80);
    margin-top: -682px;
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

.adminUsers {
    color: #004D8D;

}

.adminBtn {
    font-size: xx-large;
    font-weight: 800;
    height: 50px;
    width: 340px;
    border-radius: 0;
    padding-bottom: inherit;
}

.adminCompass {
    margin-left: 265px;
}