

.detailsPage {
    background-image:url(https://upload.wikimedia.org/wikipedia/commons/8/83/Crater_Lake_Panorama,_Aug_2013.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 0;
}


.detailsLeftColumn {
   float: left;
   width: 25%;
   margin-right: 0;
   margin-top: 0;
   padding-right: 0;
   background-color: rgba(255, 255, 255, 0.66);
   color: #808080;
   font-family: 'Russo One', sans-serif;
   text-transform: uppercase;
   font-size: small;
   font-weight: 400;
   text-align: center;
   border-radius: 0;  
}


.detailsRightColumn {
   float: right;
   width: 0;
   margin-right: 0;
   margin-top: 0;
   padding-right: 0;
   background-color: rgba(255, 255, 255, 0.66);
   color: #000000;
   font-family: 'Russo One', sans-serif;
   text-transform: uppercase;
   font-size: small;
   font-weight: 400;
   text-align: center;
   border-radius: 0;  

}