<html xmlns="http://www.w3.org/1999/xhtml" ng-app="Hiking">
<head>
    <title>Hiking</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/css/homepage.css" rel="stylesheet" />
    <link href="~/ngapp/users/css/login.css" rel="stylesheet" />
    <link href="~/ngapp/users/css/register.css" rel="stylesheet" />
    <base href="/" />
</head>
<body ng-controller="AccountController as controller">
    <div class="container-fluid">
        
        
        <div class="nav">
            <ul>
                <img src="~/ngapp/homeimages/mountain-peak-logo-no-clouds-.png"
                 style="height:45px;float:left" />
                <li id="title">TRECKCLUB </li>
                <li class="home"><a class="active" href="#"><strong>Home</strong></a></li>
                <li class="about"><a href="#"><strong>About</strong></a></li>
                <li><a ng-click="controller.showRegisterModal()"><strong>Register</strong></a></li>
                <li><a ng-click="controller.showLoginModal()"><strong>Login</strong></a></li>
            </ul>
        </div>

        @* end of navbar *@

        

        <ui-view></ui-view>
    </div>

    <!-- Library Files -->
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular-resource/angular-resource.js"></script>
    <script src="~/lib/angular-animate/angular-animate.js"></script>
    <script src="~/lib/angular-touch/angular-touch.js"></script>
    <script src="~/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="~/lib/angular-ui-router/release/angular-ui-router.js"></script>

    <!-- App Files-->
    <script src="~/ngapp/app.js"></script>
    <script src="~/ngapp/controllers/controllers.js"></script>
    <script src="~/ngapp/services/services.js"></script>


    <!-- Security -->
    <script src="~/ngapp/controllers/accountcontroller.js"></script>
    <script src="~/ngapp/services/accountservice.js"></script>

</body>
</html>
