<html xmlns="http://www.w3.org/1999/xhtml" ng-app="Hiking">
<head>
    <title>Hiking</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/ngapp/users/css/login.css" rel="stylesheet" />
    <link href="~/ngapp/users/css/register.css" rel="stylesheet" />
    <base href="/" />
</head>
<body ng-controller="accountController as controller">
    <div class="container">
        
        @* start of Navbar *@

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Brand</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">Another Link</a></li>
                       
                    </ul>
                   
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/viewprofile">View Profile</a></li>
                        <li><a ng-click="controller.showRegisterModal()">Register</a></li>
                        <li><a ng-click="controller.showLoginModal()">Login</a></li>
                        <li><a href="#">Another Link</a></li>
                      
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        @* end of navbar *@

        <button></button>

        <ui-view></ui-view>
    </div>

    <!-- Library Files -->
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular-resource/angular-resource.js"></script>
    <script src="~/lib/angular-animate/angular-animate.js"></script>
    <script src="~/lib/angular-touch/angular-touch.js"></script>
    <script src="~/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="~/lib/angular-ui-router/release/angular-ui-router.js"></script>

    <!-- App Files-->
    <script src="~/ngapp/app.js"></script>
    <script src="~/ngapp/controllers/controllers.js"></script>
    <script src="~/ngapp/services/services.js"></script>
 
    <script src="~/ngapp/controllers/profilecontroller.js"></script>
    <script src="~/ngapp/services/profilesvc.js"></script>

    <!-- Security -->
    <script src="~/ngapp/controllers/accountcontroller.js"></script>
    <script src="~/ngapp/services/accountservice.js"></script>

</body>
</html>
